<div class="col-lg-12" ng-controller="adminlogincntrl">
    <div class="col-md-12 formborder">

        <div id="admin_login">

            <div class="errormessage" style="margin-left:30px;color:red;"></div>
            <div class="myform">Admin Login</div>

            <fieldset style=" height: 300px;">

                <h4 class="headervalue">Please login to access admin functionalities</h4>
                <div class="control" >
                    <label class=" col-sm-2">UserName  <em>*</em></label>
                    <input style="width: 25%;" type="text" name="firstname" id="frstname"  value="" class="textfeildname yellow" ng-model="formData.username"/>
                </div>
                <div class="control">
                    <label class=" col-sm-2">Password</label>
                    <input style="width: 25%;" type="password"  name="lastname" value="" class="textfeildname yellow" ng-model="formData.password"/>
                </div>

                <br>
                <div class="col-xs-6 col-xs-offset-3 col-xs-7" style="margin-left: 15%;">

                    <a  class="btn btn-block btn-info" ng-click="loginsubmit()">
                        Login  <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </a></br>
                </div>
                </fieldset>
        </div>
    </div>
</div>
