<div class="col-lg-12" ng-controller="personalInfoContrler"  window-exit>
    <div class="col-md-12 formborder">

        <div id="personal_details">

            <div class="errormessage" style="margin-left:30px;color:red;"></div>
            <div class="myform">Personal Info</div>
            <br class="col-md-12 formcontent">
            <div class="progress progress-striped active">

                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                    <span class="show">0/6 Complete</span>
                </div>
            </div>
            <fieldset>
                <h4 class="headervalue">Please select who you are? <em>*</em></h4>

                <select  name="userType" ng-model="formData.usertype"  ng-change="usertypesel()" required class="textfeildname yellow arrowupdown"  style="width:47%; margin-left:15px; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="user for user in usertypeArray" >
                    <option value="">--Select--</option> <!-- not selected / blank option -->

                </select>
                <p ng-show="userForm.userType.$dirty && userForm.userType.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">User Type is Required.</p>
                <h4 class="headervalue">Please enter the details below</h4>
                <div class="control"  ng-class="{'has-error': userForm.firstname.$dirty && userForm.firstname.$error.required}">
                    <label class=" col-sm-2">First Name <em>*</em></label>
                    <input type="text" name="firstname" value="" ng-pattern="/^[a-zA-Z]*$/" class="textfeildname yellow" ng-model="formData.firstname" required />
                    <p ng-show="userForm.firstname.$dirty && userForm.firstname.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">First Name is Required.</p>
                    <p ng-show="userForm.firstname.$dirty && userForm.firstname.$error.pattern" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter valid Name.</p>

                </div>
                <div class="control" ng-class="{'has-error': userForm.lastname.$dirty && userForm.lastname.$error.required}">
                    <label class=" col-sm-2">Last Name <em>*</em></label>
                    <input type="text"  name="lastname" value="" ng-pattern="/^[a-zA-Z]*$/" class="textfeildname yellow" ng-model="formData.lastname" required/>
                    <p ng-show="userForm.lastname.$dirty && userForm.lastname.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Last Name is Required.</p>
                    <p ng-show="userForm.lastname.$dirty && userForm.lastname.$error.pattern" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter Character Only.</p>

                </div>
                <div class="control">
                    <label class=" col-sm-2">Title</label>
                    <select  name="titleselect" ng-model="formData.title" class="textfeildname yellow arrowupdown"  style="width:12%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="title for title in titleArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
                </div>
                <div class="control">
                    <label class=" col-sm-2">Sex</label>
                    <select  name="sexselect" ng-model="formData.sex" class="textfeildname yellow arrowupdown"  style="width:12%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="sex for sex in sexArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
                </div>

                <div class="control" ng-class="{'has-error': userForm.birthdate.$dirty && userForm.birthdate.$error.required}">
                    <label class=" col-sm-2">Date of Birth<em>*</em></label>

                    <input type="text" id="" readonly="true" class="textfeildname yellow datepicker" ng-model="formData.birthdate" style="width:12%;" required>
                    <p ng-show="userForm.birthdate.$dirty && userForm.birthdate.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter DOB.</p>
                </div>
                <div class="control" ng-class="{'has-error': userForm.postcode.$dirty || userForm.postcode.$error.required || userForm.postcode.$error.pattern}">
                    <label class=" col-sm-2">PostCode<em>*</em></label>
                    <input type="text" name="postcode" maxlength="4" ng-pattern="/^(\d)+$/" minlength="4" ng-change="" value="" id="postcde"  class="textfeildname" style="width: 75px;" ng-model="formData.postcode" required/>
                    <p ng-show="userForm.postcode.$dirty && userForm.postcode.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter PostCode.</p>
                    <p ng-show="userForm.postcode.$dirty && userForm.postcode.$error.pattern" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter Number Only.</p>

                </div>

                <div class="control">
                    <label class=" col-sm-2">State</label>
                    <select  name="state" ng-model="formData.state" class="textfeildname yellow arrowupdown"  style="width:27%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="title for title in statelistArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
                </div>
                <div class="control">
                    <label class=" col-sm-2">Country of birth</label>
                    <select  name="lstofcountryArray" ng-model="formData.countrybirth" class="textfeildname yellow arrowupdown"  style="width:25%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="country for country in lstofcountryArray" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->

                    </select>

                </div>
                <div class="control">
                    <label class=" col-sm-2">Ethnicity</label>
                    <select  name="ethnicity" ng-model="formData.ethnicity" class="textfeildname yellow arrowupdown"  style="width:25%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="ethnicity for ethnicity in ethnicityArray" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->

                    </select>

                </div>

                <div class="control">
                    <label class=" col-sm-2">Language Spoken</label>
                    <select  name="language" ng-model="formData.language" class="textfeildname yellow arrowupdown"  style="width:25%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in languageArray" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>   </div>
                <h4 class="headervalue">Contact Details</h4>

                <div class="control"  ng-class="userForm.email.$dirty && userForm.email.$error.required">
                    <label class=" col-sm-2">eMail <em>*</em></label>
                    <input type="email"  name="email" value=""   class="textfeildname yellow" ng-model="formData.email" style="width: 50%;" required/>
                    <p ng-show="userForm.email.$dirty && userForm.email.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Email is Required.</p>
                    <p ng-show="userForm.email.$dirty && userForm.email.$error.email" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter valid email.</p>
                </div>

                <div class="control">
                    <table><tr><td><input type="checkbox" name="checkboxG4" id="checkboxG3" ng-change="conctagree()" ng-model="formData.conctagree" ng-true-value="yes" ng-false-value="no" class="css-checkbox" />
                        <label for="checkboxG3" class="css-label2" style="width: 100%;"><b>Do you agree to be contacted ?</b></label></td></tr></table>
                </div>
                <div class="control" style="margin-right: 5%;" ng-hide="showcontactvia">
                    <div class=" col-sm-2"  style="width: 7.5%">Via</div>
                    <table><tr><td><input type="checkbox" name="checkboxphone" id="checkboxG4" class="css-checkbox" ng-model="formData.contctviaphone" ng-change="contctviaphone()"  ng-init="formData.contctviaphone=''" ng-true-value="yes" ng-false-value="no"/>
                        <label for="checkboxG4" class="css-label" >Phone</label></td>
                        <td><input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox" checked="checked" ng-model="formData.contctviaemail"  ng-change="contctviaemail()" ng-true-value="yes" ng-false-value="no"/>
                            <label for="checkboxG5"    style="margin-left: 35%;" class="css-label">Email </label>
                        </td></tr>
                    </table>
                    <br/>
                </div>

                <div class="control"  ng-show="showcontactviaphone">
                    <label class=" col-sm-2">Phone<em>*</em></label>
                    <input type="text"  name="phone" value="" ng-pattern="/^(\d)+$/" ng-maxlength="10" class="textfeildname yellow" ng-keydown='phonevalue($event)' ng-model="formData.phone" ng-init="formData.phone=''" style="width: 25%;">
                    <p ng-show="userForm.phone.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Phone Number is Required.</p>
<!--
                   <p ng-show="userForm.phone.$dirty && userForm.phone.$invalid" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please Enter Number Only.</p>
-->
                  <p ng-show="userForm.phone.$dirty || userForm.phone.$error.maxlength" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Please enter valid number.</p>
               </div>
                 <div  ng-show="showcarerdetails">
                        <h4 class="headervalue">Carer Details:</h4>
                        <div class="control">
                            <label class=" col-sm-2">First Name <em>*</em></label>
                            <input type="text" name="firstname" id="carerfrstname"  value="" class="textfeildname yellow" ng-model="formData.carerfirstname"/>
                        </div>
                        <div class="control">
                            <label class=" col-sm-2">Last Name</label>
                            <input type="text"  name="carerlastname" value="" class="textfeildname yellow" ng-model="formData.carerlastname"/>
                        </div>
                        <div class="control">
                            <label class=" col-sm-2">Title</label>
                            <select  name="titleselect" ng-model="formData.carertitle" class="textfeildname yellow arrowupdown"  style="width:12%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="title for title in titleArray">
                                <option value="">--Select--</option> <!-- not selected / blank option -->
                            </select>
                        </div>
                        <div class="control">
                            <label class=" col-sm-2">Date of Birth<em>*</em></label>

                            <input type="text" id="carerdatepicker" readonly="true" class="textfeildname yellow datepicker" ng-model="formData.carerbirthdate" style="width:12%;cursor: hand" >
                        </div>

                        <div class="control">
                            <label class=" col-sm-2">Phone</label>
                            <input type="text"  name="carerphone" value=""   class="textfeildname yellow" ng-model="formData.carerphone" style="width: 25%;"/>
                        </div>
                     <!--   <div class="control">
                            <label class=" col-sm-2">eMail</label>
                            <input type="email"  name="careremail"  required class="textfeildname yellow" ng-model="formData.careremail" style="width: 50%;"/>
                        </div>-->
                    </div>


                    <div style="margin-bottom: 5%;"></div>


                    <div class="col-xs-6 col-xs-offset-3">
                        <a ui-sref="home" class="btn btn-block btn-info">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span>Previous
                        </a>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-xs-7">

                        <button type="submit" ng-click="personalInfoSubmit($event)" ng-disabled="userForm.$invalid" class="btn btn-block btn-info">Next  <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        </button>
                    </div>

                    <div style="margin-bottom: 3%;"></div>

            </fieldset>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        var date = new Date();
        var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
        $(".datepicker").datepicker({
            maxDate:new Date(y, m, d),
            yearRange: '-90:+1M',
            changeMonth: true,
            changeYear: true
        });
    });
</script>
