
<fieldset>

    <div class="control">
        <label class=" col-sm-2">Reference Number<em>*</em></label>
        <input type="text" name="refnum" id="refnum"  value="" class="textfeildname yellow" ng-model="formAdminData.referencenumber" ng-init="formAdminData.referencenumber=''" />
    </div>
    <div class="control">
        <label class=" col-sm-2">User Type</label>
        <input type="text"  name="usertype" value="" class="textfeildname yellow" ng-model="formAdminData.usertype"/>
    </div>
    <div class="control">
        <label class=" col-sm-2">First Name</label>
        <input type="text"  name="firstname" value="" class="textfeildname yellow" ng-model="formAdminData.firstname"/>
    </div>
    <div class="control">
        <label class=" col-sm-2">Last Name</label>
        <input type="text"  name="lastname" value="" class="textfeildname yellow" ng-model="formAdminData.lastname"/>
    </div>
    <div class="control">
        <label class=" col-sm-2">Country</label>
        <input type="text"  name="country" value="" class="textfeildname yellow" ng-model="formAdminData.country"/>
    </div>
    <div class="control">
        <label class=" col-sm-2">Status<em>*</em></label>
        <select  name="state" ng-model="formAdminData.surveystatus" class="textfeildname yellow arrowupdown"  style="width:27%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="status for status in statusArray">
            <option value="">--Select--</option> <!-- not selected / blank option -->
        </select>
    </div>
</br>
    <div class="col-xs-6 col-xs-offset-3">
        <a  ng-click="clearall()" class="btn btn-block btn-info" style="width: 40%">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>Clear All
        </a>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-xs-7">

        <a class="btn btn-block btn-info" ng-click="searchheartkid()" style="width: 40%">
            Search  <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a></br>
    </div>

    <!--
    <div class="col-xs-6 col-xs-offset-3 col-xs-7">

        <a ui-sref="" class="btn btn-block btn-info" ng-click="searchheartkid()" style="margin-top:5%;margin-left: 80%;width: 30%;">
            Search  <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a></br>
    </div>-->
</fieldset>
<div class="control">
    <label class=" col-sm-2">Search User</label>
    <input type="text"  name="Search" value="" class="textfeildname yellow" ng-model="search" placeholder="Search"/>
</div>

<div class="table-responsive" id="exportable" ng-show="searchHeartKid">
    <table class="table table-striped table-bordered" style="width: 92%;margin-left: 4%;">
        <tr class="info">
            <th ng-click="sort('id')">Id
                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th ng-click="sort('referencenumber')">Reference No
                <span class="glyphicon sort-icon" ng-show="sortKey=='referencenumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            </th>
            <th ng-click="sort('firstname')">First Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            </th>
            <th ng-click="sort('lastname')">Last Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='lastname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            </th>
            <th ng-click="sort('surveystatus')">Status
                <span class="glyphicon sort-icon" ng-show="sortKey=='surveystatus'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            </th>
        </tr>

        <tr dir-paginate="a in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
            <td>{{$index+1}}</td>
            <td>{{a.referencenumber}}</td>
            <td>{{a.firstname}}</td>
            <td>{{a.lastname}}</td>
            <td>{{a.surveystatus}}</td>
            <!--<td><button class="btn btn-primary" style="margin-left: 13%; width: 70px;" ng-click="modifyuser(a)">Edit</button></td>
       --> </tr>
    </table>
    <dir-pagination-controls style="float: right;margin-right: 5%;"
                             max-size="30"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
</div>